[Desktop Entry]
Categories=GTK;Office;
Comment=Camunda
Exec=/usr/local/camunda-modeler/camunda-modeler
GenericName=Camunda Modeller
Icon=camunda
Keywords=Camunda;BPMN
MimeType=
Name=Camunda
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-FullName=Camunda Business Process Modeller
X-KDE-SubstituteUID=false
X-KDE-Username=
