[Desktop Entry]
Comment=
Exec=/usr/bin/gucharmap
Icon=gucharmap-icon-small
Name=Gucharmap
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
